/* 基本样式 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:#FFF5EE;
  }
  
  /* 导航栏样式 */
  nav {
    background-color: #66ccff; /* 蔚蓝背景 */
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 10px 50px;
  }
  nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: inherit;
    border-radius: 15px; /* 格子部分圆滑处理 */
    margin-right: 10px; /* 部分格子之间增加间距 */
  }
  nav a:hover {
    background-color: #ffffff; /* 鼠标悬停时的背景颜色 */
    color: #ff7f50; /* 鼠标悬停时的文字颜色 */
  }
  
   /* 主要区域样式 */
  #main {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
  }
  
  .banner-container {
    position: relative;
  }
  
  .img-container1 {
    height: 400px;
    overflow: hidden;
  }
  
  .img-container1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .text-container1  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 10; /* 去除标题顶部的默认边距 */
    text-align: left; /* 将标题文字左对齐 */
  }
  
  .image-text-container {
    margin-top: 50px;
  }
  
  .image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .image-text-container img {
    max-width: 45%;
    border-radius: 15px;
    margin-right: 5%;
  }
  
  .image-text-container p {
    max-width: 50%;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
  }
  
  /* 底部样式 */
  footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
  }
  